<h1>Create a New Post</h1>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @post, local: true do |f| %>
  Body: <%= f.text_area :body %><br><br>
        <%= f.submit %>
<% end %>